
<div class="div1" *ngIf="buttonType == 'bleu'">
  <a >{{buttonNom}}</a>
</div>
<div class="div2" *ngIf="buttonType == 'gris'">
  <a >{{buttonNom}}</a>
</div>
<div class="divvert" *ngIf="buttonType == 'vert'">
  <a >{{buttonNom}}</a>
</div>
<div class="divrouge" *ngIf="buttonType == 'rouge'">
  <a >{{buttonNom}}</a>
</div>
<div class="divnul" *ngIf="buttonType == 'nul'">
  <a >{{buttonNom}}</a>
</div>
