
a {
  text-decoration: none;

}



.div1 {
  background-color: #FAF7F6;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  align-content: center;
  justify-content: space-evenly;

  a {
    color: #2DA3ED;
  }
}

.div1:hover {
  background-color: #2DA3ED;

  a {
    color: #FAF7F6;
  }
}

.div2 {
  background-color: #FAF7F6;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  align-content: center;
  justify-content: space-evenly;

  a {
    color: #555555;
  }
}

.div2:hover {
  background-color: #555555;

  a {
    color: #FAF7F6;
  }
}


.divvert {
  background-color: #FAF7F6;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  align-content: center;
  justify-content: space-evenly;

  a {
    color: #4CAF50;
  }
}

.divvert:hover {
  background-color: #4CAF50;

  a {
    color: #FAF7F6;
  }
}

.divrouge {
  background-color: #FAF7F6;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  box-shadow:0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
  align-content: center;
  justify-content: space-evenly;

  a {
    color: #F2453D;
  }
}

.divrouge:hover {
  background-color: #F2453D;

  a {
    color: #FAF7F6;
  }
}


.divnul {
  text-align: center;
  background-color: #FAF7F6;

  a {
    color: #2DA3ED;
  }
}
