:host {
  margin-top: 20px;
  
  width: 90vw;
  background: url("https://3.bp.blogspot.com/-8XQO6x0xQhM/UF43YfDJe8I/AAAAAAAAAJ0/ryewxs6dqD4/s1600/Konachan.com%2B-%2B144369%2Bblack_eyes%2Bblack_hair%2Bblonde_hair%2Bblush%2Bhug%2Bkirigaya_kazuto%2Blong_hair%2Bsword_art_online%2Byuuki_asuna.png");
  background-position: center;
  background-size: 100%;
 
}

.wrapper {
  margin-left: 55px;
  margin-bottom: 68px;
  padding-left: 80px;
  padding: 10px;
}

.wrapper > div {
  margin: 10px 0;
}

.grid {
  display: grid;
  visibility: hidden;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  grid-auto-rows: 1px;
}

.grid > * {
  width: 100%;
}

.card {
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.card_image_center {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.card_image {
  margin: auto auto;
  width: auto;
  height: auto;
}


.card:hover {
  transform: translate(0, -5px);
  box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}

button {
  margin: 15px;
}

mat-card-header {
  padding: 15px;
}

mat-card-content {
  margin: 15px;
}
mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.mat-card > .mat-card-actions:last-child {
  margin-bottom: 0;
}

span{
   font-weight:500;
}
