
 
    
  <div class="wrapper">

    <div>
      <app-barre-recherche></app-barre-recherche>

    </div>

    <div class="grid">

      <div *ngFor="let demande of listOffre | async">

        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Offre de garde :</mat-card-title>
            <mat-card-subtitle>{{demande.owner}}</mat-card-subtitle>
            <img mat-card-avatar src="" />
          </mat-card-header>
          <mat-divider _ngcontent-jlh-c127="" role="separator" class="mat-divider mat-divider-horizontal" aria-orientation="horizontal"></mat-divider>

          <mat-card-content>
            <p><span>Nombre enfant(s) a garder : </span>{{demande.nbEnfant}}</p>
            <p><span>Adresse de recuperation : </span>{{demande.adresse1}}</p>
            <p><span>Adresse de garde : </span>{{demande.adresse2}}</p>
            <p><span>Adresse de rendu : </span>{{demande.adresse3}}</p>
            <p><span>Date de la garde : </span>{{demande.date}}</p>
            <p><span>Horaires : </span>{{demande.horaire}}</p>
            <p><span>Informations importante : </span>{{demande.informations}}</p>
            <p>  </p>
            <p></p>
          </mat-card-content>
          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
      
    </div>
    <app-bouton buttonType='bleu' buttonNom="Ajouter une offre" routerLink="/demande"></app-bouton>
  </div>
<app-barre-menu></app-barre-menu>
