
<div class="boutons">
  <button><i class="fas fa-plus-square fa-3x"></i></button>
</div>

<div *ngFor="let enfant of enfants | async" class="enfant">
  <app-enfant nom={{enfant.nom}} imgUrl={{enfant.imgUrl}} age={{enfant.age}}></app-enfant>
  <button (click)="delEnfant(enfant.id)"><span class="material-icons">delete_forever</span></button>
</div>



