.boutons>button {
  background-color: transparent;
  border: none;
}

.material-icons {
  font-size: 42px;
  color: darkred;
}

.boutons {
    margin: 20px;
}

.enfant {
    display: flex;
    flex-flow: row;
    margin: 20px;
}

.enfant>app-enfant {
    width: 100%;
    margin: 0;
    padding: 0;
}

.enfant > button {
  background-color: transparent; /* Green */
  border: none;
}

.enfant>button>i {
    color: darkred;
}
