<mat-card class="card">

  <mat-card-header>
    <mat-card-title>{{Title}}</mat-card-title>
    <mat-card-subtitle>{{Subtitle}}</mat-card-subtitle>
    <img mat-card-avatar
         src="{{AvatarLink}}"
         alt="{{AlternativeAvatar}}">
  </mat-card-header>

  <mat-divider *ngIf="Content || ImageLink" ></mat-divider>  <!------------------------------------->

  <div class="card_image_center" *ngIf="ImageLink">
    <img mat-card-image class="card_image"
         src="{{ImageLink}}"
         alt="{{AlternativeImage}}">
  </div>

  <mat-card-content *ngIf="Content">
    <p>
      {{Content}}
    </p>
  </mat-card-content>

  <mat-divider *ngIf="Buttons"></mat-divider>  <!------------------------------------->

  <mat-card-actions>
    <app-bouton  *ngFor="let button of Buttons" routerLink="{{button['l']}}"  buttonType="{{button['t']}}" buttonNom="{{button['n']}}"  ></app-bouton>
  </mat-card-actions>

</mat-card>


<!--@Input() buttons: string;-->
