.card {
  padding: 0;
  transition: all 0.3s ease-in-out;
}

.card_image_center {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.card_image {
  margin: auto auto;
  width: auto;
  height: auto;
}


.card:hover {
  transform: translate(0, -5px);
  box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}

button {
  margin: 15px;
}

mat-card-header {
  padding: 15px;
}

mat-card-content {
  margin: 15px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.mat-card>.mat-card-actions:last-child {
  margin-bottom: 0;
}
