<div class="flexH">
  <div class="flexV">


    <div *ngFor="let c   of convs | async" class="separator">

      <div *ngIf="c == null"> vous n'avez pas de message</div>

      <app-conv-entry [conv]="c"></app-conv-entry>

    </div>


  </div>


</div>
<app-barre-menu></app-barre-menu>


<!--.pipe(-->
<!--map((value, index) => {-->
<!--value.forEach(val => {-->
<!--map(value1 => {-->


<!--let newOne: ConvModule;-->
<!--this.getProfile(val.id).subscribe(value1 => {-->
<!--newOne = {-->
<!--participant: val.participant,-->
<!--id: val.id,-->
<!--lastMessage: val.lastMessage,-->
<!--user: value1,-->
<!--  };-->
<!--});-->
<!--return newOne;-->

<!--}-->
<!--);-->


<!--});-->
<!--return value;-->
<!--}));-->
