<!--    -----------------------------------------HEADER--------------------------------------------  -->


<div class="header-bar">


  <a (click)="backClicked()"><span class="material-icons">  arrow_back</span></a>


  <h1 routerLink="/profile/{{(Participant |async).uid}}">{{(Participant |async).displayName }}</h1>
  <h1>...</h1>
</div>


<!--    -----------------------------------------HEADER--------------------------------------------  -->
<!--    -----------------------------------------MESSAGE ZONE--------------------------------------  -->


<div class="flexV">
  <div *ngFor="let m of messages | async">
    <div *ngIf="myid ==  m.owner; then MonMessage else AutreMessage"></div>


    <ng-template #MonMessage>
      <app-message-bulle message="{{m.content}}" from="{{m.owner}}" [avatar]="avatarUs"
                         SendAt="{{m.date.toDate() | date: 'medium'}}" class="right"></app-message-bulle>

    </ng-template>


    <ng-template #AutreMessage>

      <app-message-bulle message="{{m.content}}" from="{{m.owner}}" [avatar]="avatarThey"
                         SendAt="{{m.date.toDate() | date: 'medium' }}" class="left"></app-message-bulle>


    </ng-template>
  </div>


</div>


<!--    -----------------------------------------MESSAGE ZONE--------------------------------------  -->
<!--    -----------------------------------------FOOTER--------------------------------------------  -->


<div class="footer-bar">
  <app-form-input nom="Message" place="type here" type="text" icon="sms" #input
                  [formControl]="message" ngDefaultControl (keypress)="OnEnter($event)"></app-form-input>


  <a (click)="sendMessage()"><span class="material-icons">send</span></a>

</div>


<!--    -----------------------------------------FOOTER--------------------------------------------  -->





