.flexV {
  display: block;
  width: 100%;
  overflow-y: scroll;
  height: 81vh;

}

.right {
  display: flex;
  justify-content: flex-end;
  width: 90vw;
}

.left {

  display: flex;
  justify-content: flex-start;
  width: 90vw;
}


.header-bar {
  background-color: #ffffff;
  width: 100%;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.53);
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.53);
  z-index: 5;
}

.header-bar > * {
  padding: 5px;
}


.footer-bar {
  background-color: #ffffff;
  width: 100%;
  height: 11vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  -webkit-box-shadow: 1px -1px 10px 1px rgba(0, 0, 0, 0.53);
  -moz-box-shadow: 1px -1px 10px 1px rgba(0, 0, 0, 0.53);
  box-shadow: 1px -1px 10px 1px rgba(0, 0, 0, 0.53);
  z-index: 5;
}


a {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

a:hover {

  background-color: #faf7f6;
  -webkit-box-shadow: 0px 1px 25px -10px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 1px 25px -10px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 1px 25px -10px rgba(0, 0, 0, 0.69);

}











