<div class="head-notif">
  <i class="fas fa-trash fa-2x"></i>
  <i class="fas fa-ellipsis-v fa-2x"></i>
</div>
<app-notification titre="DUBOIS" icon=1></app-notification>
<app-notification titre="Jack Sparrow" icon=2></app-notification>
<app-notification titre="Camille" icon=3></app-notification>
<app-notification titre="Jack Jr." icon=3></app-notification>

<app-barre-menu></app-barre-menu>
