.body {
    display: flex;
    justify-content: center;
}

.head-notif {
    display: flex;
    width: 80%;
    justify-content: right;
    margin: 20px;
    margin-right: 30px;
}
.head-notif>i {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}
