<div class="flexH">
  <div class="flexV">
    <p>profile : {{profile.displayName}}</p>
    <p>age : {{profile.age}}</p>
    <p>sex :{{profile.sex}}</p>
    <p>description : {{profile.description}}</p>
    <p>email :{{profile.email}}</p>
    <p>tel : {{profile.tel}} </p>
    <p>a :  {{profile.address}}</p>
    <p>reputation : 1/20</p>
    <p>img : {{profile.photoURL}}</p>
  </div>
</div>
