

:host {
  height: 100%;
  width: 100%;
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  object-position:center;
  padding:5px;
  background-size:100% ;
}

input{
    text-align:center;

}


.flexH {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.flexV {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
flex-direction: column;
}

:host {
  display: inline-block;
height: 95vh;
  width: 100%;
}

img {
  width: 150px;
}
