<div class="flexV" >

  <img
    src="https://vignette.wikia.nocookie.net/tales-of-link/images/3/37/%28Master_Fencer_of_Aincrad%29_Asuna_%28Face%29.png/revision/latest/top-crop/width/360/height/450?cb=20161102164447"
    alt="asuna">
  <app-form-input nom="Email" place="email@exemple.com" type="email" icon="mail" [formControl]="email"
                  ngDefaultControl></app-form-input>
  <app-form-input nom="Password" place="MonSuperMotDePasse" type="password" icon="vpn_key" [formControl]="password"
                  ngDefaultControl></app-form-input>

  <div class="flexH">
    <app-bouton buttonType='bleu' buttonNom="inscription" routerLink="register"></app-bouton>
    <app-bouton buttonNom="se connecter" buttonType="vert" (click)="Login()"></app-bouton>
  </div>

</div>

