<div class="checkbox">
  <label class="container">
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <div class="notification">
    <i class="{{iconStr}}"></i>
    <mat-divider [vertical]="true"></mat-divider>
    <p>{{desc}}</p>
  </div>
</div>

