<div class="navbar">
  <a routerLink="/dashboard">
    <div class="cercle">
      <span class="material-icons">house</span>
    </div>
  </a>
  <a routerLink="/messages">
    <div class="cercle">
      <span class="material-icons">sms</span>
    </div>
  </a>
  <a routerLink="/notifications">
    <div class="cercle">
      <span class="material-icons">notifications</span>
    </div>
  </a>
</div>


<app-side-menu></app-side-menu>


<div class="marginbottom"></div>
