.navbar {
  display: flex;
  background-color: #FFFFFF;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-evenly;
  z-index: 3;
}

.navbar a {
  float: left;
  display: flex;
  color: #50B0EB;
  justify-content: center;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.cercle {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: #EFEBE9;
  justify-content: center;
  flex-direction: column;
}

.marginbottom {
  margin-top: 68px;
}
