a {
    text-decoration: none;
  }
  
  div {
    background-color: #FAF7F6;
    text-align: center;
    padding: 5px;
    margin: 5px;
    border-radius: 7px;
    //box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2) inset;
    align-content: center;
    justify-content: space-evenly;
  
    a {
      color: #2DA3ED;
    }
  }
  
  div:hover {
    background-color: #2DA3ED;
  
    a {
      color: #FAF7F6;
    }
  }
  