<div>
    <a routerLink=""  (click)="openDialog">{{buttonName}}</a>
</div>

<app-card Title="Test alert box"
    AvatarLink="http://image.noelshack.com/fichiers/2018/13/2/1522184100-dfnrsajxcaajqzd.jpg"
    [Buttons]="[{'l':'test','n':'test Alertbox','t':'bleu'}]">
    </app-card>
