<div class="warning">
    <div class="head">
        <span class="close-btn" onclick="document.querySelector('.warning').style.display='none';">&times;</span>
        <strong class="warning-txt">WARNING!</strong> 
    </div>
    <div class="content">
        <p class="continue-txt">Lorem Ipsum dolor sit amet</p>
        <div mat-dialog-actions>
            <button type="button" class="ok-btn" routerLink="" mat-button mat-dialog-close>OK</button> 
        </div>
    </div>
</div>
<br>
<br>
<div class="success">
    <div class="head2">
        <span class="close-btn" onclick="document.querySelector('.success').style.display='none';">&times;</span>
        <strong class="success-txt">SUCCESS!</strong> 
    </div>
    <div class="content2">
        <p class="continue2-txt">Lorem Ipsum dolor sit amet</p>
        <div mat-dialog-actions>
            <button type="button" class="ok-btn" routerLink="" mat-button mat-dialog-close>OK</button>   
        </div>
    </div>
</div>

