.warning{
    display: flex;
    background-color: #FAF7F6;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    flex-flow: column;
    justify-content: space-evenly;

}

.head{
    background-color: #F2453D; 
    margin: 0;
    padding: 10px 10px 10px 10px; 
}

.close-btn{
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.close-btn:hover{
    color: white;
}


.content{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 5px;
    vertical-align: middle;
    justify-content: space-between;
}

.content>p {
    margin: 0;
    padding: 0;
    padding-top: 8px;
    display: inline-block;
    line-height: 150%;
    justify-content: space-evenly;
    vertical-align: middle;
    text-align: center;
}

.action{
    display : flex;
    padding: 5px;
    flex-flow: row-reverse;
}

.no-btn{
    padding: 2px 8px 2px 8px;
    float: right;
    background: #E5E5E5;
    border:none;
    cursor:pointer;
    border-radius: 2px;
    margin: 5px;
    
}

.no-btn:hover, .no-btn:focus{
    background-color: #F2453D;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    transform: translateY(-0.25em);
}

.yes-btn{
    float: right;
    padding: 2px 8px 2px 8px;
    background:#E5E5E5;
    border:none;
    cursor:pointer;
    border-radius: 2px;
    margin: 5px;

}

.yes-btn:hover, .yes-btn:focus{
    background-color: #74C978;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    transform: translateY(-0.25em);
}



.success{
    display: flex;
    background-color: #FAF7F6;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    flex-flow: column;
    justify-content: space-evenly;

}

.head2{
    background-color: #2DA3ED; 
    margin: 0;
    padding: 10px 10px 10px 10px; 
}

.close-btn{
    color: black;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.content2{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 5px;
    vertical-align: middle;
    justify-content: space-between;
}

.content2>p {
    margin: 0;
    padding: 0;
    padding-top: 8px;
    display: inline-block;
    line-height: 150%;
    justify-content: space-evenly;
    vertical-align: middle;
    text-align: center;
}

.action2{
    display : flex;
    padding: 5px;
    flex-flow: row-reverse;
}

.ok-btn{
    float: right;
    padding: 2px 8px 2px 8px;
    background:#E5E5E5;
    border:none;
    cursor:pointer;
    border-radius: 2px;
    margin: 5px;

}

.ok-btn:hover, .ok-btn:focus{
    background-color: #2DA3ED;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
    transform: translateY(-0.25em);
}

