<div class="flexV">

  <p>profile : {{profile.displayName}}</p>
  <p>age : {{profile.age}}</p>
  <p>sex :{{profile.sex}}</p>
  <p>description : {{profile.description}}</p>
  <p>email :{{profile.email}}</p>
  <p>tel : {{profile.tel}} </p>
  <p>a :  {{profile.address}}</p>
  <p>reputation : 1/20</p>
  <p>img : {{profile.photoURL}}</p>


  <div *ngIf="AlreadyMatch; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
    <app-bouton buttonNom="Annuler la demande" buttonType="rouge" (click)="cancel(profile.uid)"></app-bouton>
  </ng-template>
  <ng-template #elseBlock>
    <app-bouton buttonNom="Demande de mise en contact" buttonType="rouge" (click)="ask(profile.uid)"></app-bouton>
  </ng-template>


  <app-bouton buttonNom="retour" buttonType="bleu" routerLink="/matching"></app-bouton>

</div>


<app-barre-menu></app-barre-menu>
