.flexV {
  height: 60vh;
  flex-wrap: wrap;
}


.grid {
  display: grid;
  visibility: hidden;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
  grid-auto-rows: 1px;
}

.grid > * {
  width: 100%;
}


:host {
  margin-left: 55px;
  margin-bottom: 68px;
}
