.search-box {
  display: flex;
  padding: 10px 10px 10px 20px;
  background: white;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.search-btn {
  flex: 0 0;
  padding-right: 10px;
  color: grey;
}

.search-txt {
  flex: 1 1;
  border: none;
  font-family: inherit;
}
.search-box:hover {
  border: solid 1px #69abff;
  border-radius: 8px;
}
