.enfant {
  display: flex;
  flex-flow: row;
  width: 85%;
  align-items: center;
  background-color: white;
  border-radius: 8px;
  margin: 0;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 3px;
}

.enfant > div {
  margin: 0;
  margin-top: 7px;
  margin-left: 10px;
  vertical-align: middle;
  font-size: 18px;
}

.enfant > img {
  border-radius: 50%;
  width: 65px;
  margin-right: 10px;
}
