<mat-form-field appearance="outline">
  <mat-label>{{nom}}</mat-label>
  <input matInput placeholder="{{place}}" type="{{type}}" value="{{value}}">
  <mat-icon matSuffix>{{icon}}</mat-icon>
</mat-form-field>
