<a routerLink="{{conv.id}}">
  <app-card Title="{{userAssoc.displayName}}"
            AvatarLink="{{userAssoc.photoURL}}"
            AlternativeAvatar="Avatar" Subtitle="{{conv.lastMessage}}"
  ></app-card>

  <p>{{conv.lastMessageDate}}</p>

</a>
<!--.toDate() |date:'yyyy/MM/dd h:mm:ss a'-->
