<h1>Ajouter un enfant</h1>
<div class="form">
<app-form-input nom="Nom de l'enfant" place="ex : Mayushii" typeof="" [formControl]="nom" ngDefaultControl></app-form-input>
<app-form-input nom="Age de l'enfant" place="ex : 16" typeof="" [formControl]="age" ngDefaultControl></app-form-input>
<app-form-input nom="Url photo de l'enfant" place="ex : https://avatarfiles.alphacoders.com/524/52417.jpg" typeof="" [formControl]="photoUrl" ngDefaultControl></app-form-input>
</div>

<div class="button">
  <app-bouton buttonType='vert' buttonNom="Valider" routerLink="" (click)="AddEnfant()"></app-bouton>
  <app-bouton buttonType='rouge' buttonNom="Retour" routerLink=""></app-bouton>
</div>
