
<div class="form">
  <app-form-input nom="Nombre d'enfant a garder" place="1,2,3" typeof="" [formControl]="nbEnfant" ngDefaultControl></app-form-input>
  <app-form-input nom="Adresse de récupération" place="24 rue Jack Sparrow, 16580, Tortuga" typeof="" [formControl]="adresse1" ngDefaultControl></app-form-input>
  <app-form-input nom="Adresse de prise en charge" place="24 rue Jack Sparrow, 16580, Tortuga" typeof="" [formControl]="adresse2" ngDefaultControl></app-form-input>
  <app-form-input nom="Adresse de dépot" place="24 rue Jack Sparrow, 16580, Tortuga" typeof="" [formControl]="adresse3" ngDefaultControl></app-form-input>
  <app-form-input nom="Informations importantes (ex : santé) :" place="alergies a l'orange, épilespsie" typeof="" [formControl]="informations" ngDefaultControl></app-form-input>
  <app-form-input nom="date de prise en charge" place="00/00/00 a 00h" typeof="" [formControl]="date" ngDefaultControl></app-form-input>
  <app-form-input nom="Durée de la prise en charge" place="00h00" typeof="" [formControl]="horaire" ngDefaultControl></app-form-input>
</div>
<div class="button">
  <app-bouton buttonType='vert' buttonNom="Valider" routerLink="/offre" (click) ="Valider()"></app-bouton>
  <app-bouton buttonType='rouge' buttonNom="Anulée" routerLink="/offre"></app-bouton>

</div>

<app-barre-menu></app-barre-menu>
