:host {
   
    
    width:100%;
    height:100%

}

.form {
  
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  object-position: center;
}
.button {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-sizing: border-box;
  object-position: center;
}
