<h2>Stephanie</h2>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEmAiIZ_Z3IbK6hd53-DyDTwEm2kb73Ajnw_i8989J9Fk2ChKp&usqp=CAU" alt="Avatar">
<p>Age : 17</p>
<p>Sexe : Transgenre</p>
<p>Reputation : 47/100</p>
<p>Email : Cheval44Steph@yahoo.fr</p>
<p>Description : J'aime les puzzle et les dessins animé, mais je deteste les barbies car elles font peur la nuit</p>
<p>à : 42 rue du general de gaul </p>
<p>tel : 0904526415</p>
