<div *ngIf="AssValue; then thenBlock else elseBlock"></div>
<ng-template #thenBlock><h1>Liste des parents : </h1></ng-template>
<ng-template #elseBlock><h1>Liste des Assistant(e)s Maternel(le)s :</h1></ng-template>
<div *ngIf="poten">
  <div class="grid">

    <div *ngFor="let p of poten | async">
      <app-card Title="{{p.displayName}}" Subtitle="{{p.sex}} | {{ p.age }}"
                AvatarLink="{{p.photoURL}}"
                ImageLink="{{p.photoURL}}"
                AlternativeImage="Image de Profile"
                [Buttons]="[{'l':'/matching/'+p.uid,'n':'En savoir plus','t':'bleu'}]"
                Content="{{p.description}}">
      </app-card>
    </div>
  </div>
</div>

<app-barre-menu></app-barre-menu>
