<div class="flexV">

  <img src="https://static.tvtropes.org/pmwiki/pub/images/asuna_sao_1.png" alt="asuna">
  <app-form-input nom="Username" place="xX_DarkKillian2004_Xx" type="text" icon="face"
                  [formControl]="username" ngDefaultControl></app-form-input>
  <app-form-input nom="Email" place="email@exemple.com" type="email" icon="mail"
                  [formControl]="email" ngDefaultControl></app-form-input>
  <app-form-input nom="Password" place="MonSuperMotDePasse" type="password" icon="vpn_key"
                  [formControl]="password" ngDefaultControl></app-form-input>
  <app-form-input nom="Repeat Password" place="MonSuperMotDePasse" type="password" icon="vpn_key"
                  [formControl]="repeatpass" ngDefaultControl></app-form-input>


  <div>
    <label>Je suis : </label>
    <mat-radio-group [formControl]="Assmat">
      <mat-radio-button value="1">un(e) assistant(e) maternel</mat-radio-button>
      <mat-radio-button value="0">un parent</mat-radio-button>
    </mat-radio-group>
  </div>

  <app-form-input nom="Age" place="21" type="number" icon="access_time"
                  [formControl]="age" ngDefaultControl></app-form-input>



  <div>
    <label>Je suis : </label>
    <mat-radio-group [formControl]="sex">
      <mat-radio-button value="0">une femme</mat-radio-button>
      <mat-radio-button value="1">un homme</mat-radio-button>
    </mat-radio-group>
  </div>


  <div class="flexH">
    <app-bouton buttonNom="se connecter" buttonType="bleu" routerLink=""></app-bouton>
    <app-bouton buttonType='vert' buttonNom="s'inscrire" (click)="Register()"></app-bouton>
  </div>

</div>


