div {
  align-content: center;
  display: flex;
  flex-direction: column;
  margin: 5px;
}


.flexH {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.flexV {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:host {
  display: inline-block;
  height: 95vh;
  width: 100%;
}

img {
  width: 100px;
}
