<div class="grid">
    <button (click)="getSelectedRows()">Bouton bdd</button>
    <button>poubelle</button>
    <ag-grid-angular
        #agGrid
        style="width: 500x;
        height: 400px;"
        class="ag-theme-alpine"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        rowSelection="multiple"
        >
        
        
    </ag-grid-angular>
    </div>