<div id="mySidenav" class="sidenav">


  <div class="line"><a routerLink="/profile">
    <div class="text">Mon Profile</div>
    <img mat-card-avatar src="{{url}}" alt="">
  </a></div>
  <div class="line"><a routerLink="/calendrier">
    <div class="text">Mon calendrier</div>
    <span class="material-icons">
insert_invitation
</span></a></div>
  <div class="line"><a routerLink="/listeEnfants">
    <div class="text">liste Enfants</div>
    <span class="material-icons">
child_care
</span></a></div>
  <div class="line"><a routerLink="/journal">
    <div class="text">Journal d'activité</div>
    <span class="material-icons">
book
</span></a></div>
  <div class="line"><a routerLink="/offre">
    <div class="text">Mes Offres</div>
    <span class="material-icons">
view_compact
</span></a></div>
  <div class="line"><a routerLink="/stats">
    <div class="text">Statistiques</div>
    <span class="material-icons">
bar_chart
</span></a></div>
  <div class="line"><a routerLink="/notifications">
    <div class="text">notifications</div>
    <span class="material-icons">
notification_important
</span></a></div>
  <div class="line"><a routerLink="/matching">
    <div class="text">matching</div>
    <span class="material-icons">
loop
</span></a></div>


  <div class="line"><a routerLink="/matching/accept">
    <div class="text">friend requests</div>
    <span class="material-icons">
group_add
</span></a></div>

  <div class="line"><a routerLink="/settings">
    <div class="text">settings</div>
    <span class="material-icons">
settings
</span></a></div>


  <div class="line"><a (click)="disconnect()">
    <div class="text">disconnection</div>
    <span class="material-icons">
exit_to_app
</span></a></div>


</div>
