.sidenav {
  height: 100vh; /* 100% Full-height */
  width: 55px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 50; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}


.sidenav .text {
  display: none;
  transition: 0.6s;
}


.sidenav:hover {
  width: 300px;
  background-color: rgba(17, 5, 0, 1);
}

.sidenav:hover .text {
  display: block;
}


.sidenav a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
}


.sidenav a:hover {
  color: #f1f1f1;
}



/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
