.container{
    width: 300px;
    box-shadow: 1px 1px 2px 2px rgb(179, 176, 176);
    margin: 0px auto;
    border-radius: 5px;
    margin-bottom: 15px;
}
h2{
    background-color: #2DA3ED;
    padding: 10px;  
}


.mois{
    border-bottom: solid 1px;
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    
}

.ligne{
    display: grid;
    grid-template-columns: 50px 250px;
    
}



.grid {
    display: grid;
    padding: 10px;
    margin: 10px;
    grid-gap: 20px;
    grid-template-columns: 25px 200px;
    grid-template-rows: [day] 20px [h8] 20px [h9] 20px [h10] 20px [h11] 20px [h12] 20px [h13] 20px [h14] 20px [h15] 20px [h16] 20px [h17] 20px;
    
}
.grid > * {
    width: 100%;
}
  
  
.jour{
    grid-column-start: 2;
    font-weight: bold;
    font-size: 18px;
    
    
}
.item{
    grid-column-start: 1;
}
.item2{
    background-color:  #2DA3ED;
    border-radius: 5px;
    grid-column-start: 2;
    grid-row-start: h8;
    grid-row-end: h11;
  }

.item3{
    background-color: #2DA3ED;
    border-radius: 5px;
    grid-column-start: 2;
    grid-row-start: h12;
    grid-row-end: h16;
}

.item2:hover{
     transform: translate(0, -5px);
    box-shadow: 0px 8px 9px rgb(82, 81, 81);
}
.item3:hover{
    transform: translate(0, -5px);
    box-shadow: 0px 8px 9px rgb(82, 81, 81);
}

.arrow{
    color: white;
    background-color:#2DA3ED;
}

