            
<h2><a href=""><i class="fas fa-arrow-left"></i></a>  Planning</h2>


<div class="container" *ngFor="let Jour of Jour">
    <div class="mois">Janvier / 2020 {{Mois}} / {{Annee}}</div>
    <div class="grid">
        <div class="jour">{{Jour}}</div>
        <div class="item" *ngFor="let Heure of Heure">{{Heure}}</div>
        
    <div *ngFor="let event of events | async" class="item2">
         <app-event titre={{event.titre}} description={{event.description}} debut={{event.debut}} fin={{event.fin}}></app-event>
         <button (click)="delEvent(event.id)">x</button>      
    </div>
    
        
    </div>

    <button (click)="clicButton()" routerLink="/ajout-event">+Ajout</button>
</div>
<a href="" class="arrow"><i class="fal fa-arrow-to-left"></i></a>
<a href="" class="arrow"><i class="fal fa-arrow-to-right"></i></a>
