<div class="form">
    <app-form-input nom="Titre" place="l'enfant à garder" typeof="" [formControl]="titre" ngDefaultControl></app-form-input>
    <app-form-input nom="description" place="Faire les devoirs" typeof="" [formControl]="description" ngDefaultControl></app-form-input>
    <app-form-input nom="Début" place="Heure du début" typeof="" [formControl]="debut" ngDefaultControl></app-form-input>
    <app-form-input nom="Fin" place="Heure de fin" typeof="" [formControl]="fin" ngDefaultControl></app-form-input>
</div>

<div class="button">
    <app-bouton buttonType='vert' buttonNom="Valider" routerLink="/planning" (click) ="Ajouter()"></app-bouton>
    <app-bouton buttonType='rouge' buttonNom="Anuler" routerLink="/planning"></app-bouton>
</div>
