:host {
  padding-left: 80px;
  margin-top: 20px;
  width: 70vw;
  background: url("https://3.bp.blogspot.com/-8XQO6x0xQhM/UF43YfDJe8I/AAAAAAAAAJ0/ryewxs6dqD4/s1600/Konachan.com%2B-%2B144369%2Bblack_eyes%2Bblack_hair%2Bblonde_hair%2Bblush%2Bhug%2Bkirigaya_kazuto%2Blong_hair%2Bsword_art_online%2Byuuki_asuna.png");
  background-position: center;
  background-size: 100%;

}

.wrapper {
  padding: 10px;
  padding-left: 55px;
}

.wrapper > div {
  margin: 10px 0;
}

.grid {
  display: grid;
  visibility: hidden;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: 1px;
}

.grid > * {
  width: 100%;
}
