<div class="flexH">
  <div class="flexV">
    <h2>merci de confirmé votre adresse email avec le lien qui vous a ete envoyé</h2>
    <h3>Si vous avez deja confirmé votre email, essayer de reactualiser la page</h3>
  </div>
</div>
