#map {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.map-border {
  height: 100%;
  width: 100%;
  border-radius: 50px;
}
.map-wrapper {
  height: 300px;
  width: 100%;
}

.card {

  transition:  all 0.3s ease-in-out;
}
.card:hover {
  transform: translate(0,-5px);
  box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}



.leaflet-container {
  z-index: 1;
}
