<mat-card class="card">
  <mat-card-title>Salaire</mat-card-title>
  <div>
    <div style="display: block ;">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div>
</mat-card>
