<div class="flexH">
  <div class="flexV">


    <app-form-input type="text" nom="Nom" value="{{Profil.displayName}}" (change)="update()" [formControl]="displayName"
                    ngDefaultControl
                    place="{{Profil.displayName}}"></app-form-input>


    <img mat-card-image src="{{Profil.photoURL}}" alt="" class="image">
    <div class="form-group">
      <label for="file">Choose File</label>
      <input type="file"
             id="file"
             accept="image/*"
             (change)="startUpload($event.target.files)">
    </div>

    <app-form-input type="text" nom="Age" place="{{Profil.age}}" value="{{Profil.age}}" [formControl]="age"
                    ngDefaultControl
                    (change)="update()"></app-form-input>
    <app-form-input type="text" nom="Sexe" place="{{Profil.sex}}" value="{{Profil.sex}}" [formControl]="sex"
                    ngDefaultControl
                    (change)="update()"></app-form-input>


    <app-form-input type="text" nom="Description" place="{{Profil.description}}" (change)="update()"
                    [formControl]="description" ngDefaultControl
                    value="{{Profil.description}}"></app-form-input>
    <app-form-input type="text" nom="Email" place="{{Profil.email}}" value="{{Profil.email}}" [formControl]="email"
                    ngDefaultControl
                    (change)="update()"></app-form-input>
    <app-form-input type="text" nom="à" place="{{Profil.address}}" value="{{Profil.address}}" [formControl]="address"
                    ngDefaultControl
                    (change)="update()"></app-form-input>
    <app-form-input type="text" nom="tel " place="{{Profil.tel}}" value="{{Profil.tel}}" [formControl]="tel"
                    ngDefaultControl
                    (change)="update()"></app-form-input>


    <p>Reputation : 47/100</p>


  </div>
</div>

<app-barre-menu></app-barre-menu>
