.flexH {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.image{
  max-width: 800px;
  max-width: 500px;
  width: 90vw;

}
