// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$remaketopasmat-primary: mat-palette($mat-indigo);
$remaketopasmat-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$remaketopasmat-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$remaketopasmat-theme: mat-light-theme($remaketopasmat-primary, $remaketopasmat-accent, $remaketopasmat-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($remaketopasmat-theme);

/* You can add global styles to this file, and also import other style files */

@import '~normalize.css';

// Leaflet map :
@import "~leaflet/dist/leaflet.css";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
}
@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

html,
body {
  height: 100%;
}

img {
  max-height: 100%;
  max-width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #FAF7F6;
}

.content {
  width: 100%;
  height: 100%;
}

textarea:focus, input:focus{
  outline: none;
}


.flexH {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
