<div class="flexV">


  <app-comp-profile [profile]="profile"></app-comp-profile>

  <app-bouton buttonNom="retour" buttonType="bleu" (click)="backClicked()"></app-bouton>

</div>


<app-barre-menu></app-barre-menu>
