.me {

  background: #90cbfc;
  display: flex;


  -webkit-box-shadow: 0px 1px 25px -10px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 1px 25px -10px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 1px 25px -10px rgba(0, 0, 0, 0.69);
}


.you {

  background: #e997fd;
  display: flex;


  -webkit-box-shadow: 0px 1px 25px -10px rgba(0, 0, 0, 0.69);
  -moz-box-shadow: 0px 1px 25px -10px rgba(0, 0, 0, 0.69);
  box-shadow: 0px 1px 25px -10px rgba(0, 0, 0, 0.69);
}


:host {
  margin: 15px;
  width: 100vw;

}



img {
  margin: 10px;
}


.you > .arrow-down {

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #e997fd;
  z-index: 50;
  position: absolute;
  top: 0;
  left: -10px;

}

.me > .arrow-down {

  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #90cbfc;
  z-index: 50;
  position: absolute;
  top: 0;
  right: -10px;

}

