<div *ngIf="MyId ==  from; then MonMessage else AutreMessage"></div>

<ng-template #MonMessage>
  <mat-card class="me">
    <div class="flexH">
      <div>
        <p>{{message}}</p>
        <mat-card-subtitle>{{SendAt}}</mat-card-subtitle>
      </div>
      <img mat-card-avatar
           src="{{ avatar }}"
           alt="avatar">
    </div>
    <div class="arrow-down"></div>
  </mat-card>

</ng-template>


<ng-template #AutreMessage>
  <mat-card class="you">
    <img mat-card-avatar
         src="{{ avatar }}"
         alt="avatar">
    <div class="flexH">
      <div>
        <p>{{message}}</p>
        <mat-card-subtitle>{{SendAt}}</mat-card-subtitle>
      </div>
    </div>
    <div class="arrow-down"></div>
  </mat-card>

</ng-template>



