<h2><a href=""><i class="fas fa-arrow-left"></i></a>  Journal d'activité</h2>
<div>
    <h5>jj/mm/aaaa</h5>
    <button><i class="fas fa-pen"></i></button>
    <br>
    <textarea name="" id="" cols="30" rows="10"></textarea>
    <br>    
    <button><i class="fas fa-paperclip"></i></button>
</div>