<div class="flexH">
  <div class="flexV">
    <h1>Liste des demandes d'amis :</h1>
    <h2 *ngIf="profiles.length == 0">Nobody want to be your friend.. :c</h2>
    <div *ngIf="profiles.length>0">
      <div *ngFor="let p of profiles" class="space">
        <mat-card>
          <mat-card-header>
            <img mat-card-avatar src="{{p.photoURL}}" (click)="showProfile(p.uid)" alt="avatar"
                 class="clickable">
            <mat-card-title (click)="showProfile(p.uid)" class="clickable">{{p.displayName}}</mat-card-title>
            <mat-card-subtitle (click)="showProfile(p.uid)" class="clickable">{{p.sex}} | {{p.age}}</mat-card-subtitle>

            <button mat-button (click)="addFriend(p.uid)">
              <span class="material-icons">person_add</span>
            </button>
          </mat-card-header>
        </mat-card>
      </div>
    </div>
  </div>
</div>


<app-barre-menu></app-barre-menu>
