.navbar {
  display: flex;
  height: 50px;
  background-color: #FFFFFF;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  z-index: 3;
}

.navbar > *  {
  float: left;
  display: flex;
  color: #50B0EB;
  justify-content: center;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 100%;
  height: 100px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}


