.top{
    background-color: cyan;
}

.calendar{
    max-width: 400px;
}

mat-calendar{
    background-color: orange;
}

.button{


    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;

    color: #2C98F0;

}

.date{
    display: flex;

}
.card {

  transition:  all 0.3s ease-in-out;
}
.card:hover {
  transform: translate(0,-5px);
  box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
}
