<mat-card class="card">
  <mat-card-title>Calendrier</mat-card-title>


  <!-- Datepicker classic -->

  <mat-form-field class="date">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="myDatePicker">
    <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatePicker></mat-datepicker>
  </mat-form-field>


  <!-- calendrier classique mais manque des trucs -->
  <mat-calendar [selected]="selectedDate"> </mat-calendar>
  <button class="button">Cancel</button>
  <button class="button">Ok</button>
</mat-card>

<!-- calendrier classique mais manque des trucs -->

    <!--
        <mat-calendar [selected]="selectedDate" (selectedChange)="onSelect($event)"> </mat-calendar>
        
            <button  class="button">Cancel</button>
            <button  class="button">Ok</button>      
    
    -->



